<div class="display-3 text-center text-uppercase">
    <%= title %>
</div>

<div class="container-sm col-md-5">

    <% if (typeof errors !='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>git
        </div>
        <% } %>

            <form method="post" action="/contact/update">
                <input type="hidden" name="oldName" value="<%= contactDetail.oldName || contactDetail.name %>">
                <div class="mb-3">
                    <label for="name" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="name" name="name" required
                        value="<%= contactDetail.name %>">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= contactDetail.email %>">
                </div>

                <div class="mb-3">
                    <label for="mobile" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" required
                        value="<%= contactDetail.mobile %>">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
</div>